<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>meshagent</string>

    <key>ProgramArguments</key>
    <array>
        <string>/opt/tacticalmesh/meshagent</string>
    </array>

    <key>WorkingDirectory</key>
    <string>/opt/tacticalmesh</string>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/opt/tacticalmesh/meshagent_daemon.log</string>

    <key>StandardErrorPath</key>
    <string>/opt/tacticalmesh/meshagent_daemon_err.log</string>
</dict>
</plist>
