<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>meshagent-agent</string>
	<key>LimitLoadToSessionType</key>
	<array>
		<string>Aqua</string>
		<string>LoginWindow</string>
	</array>
	<key>ProgramArguments</key>
	<array>
		<string>/opt/tacticalmesh/meshagent</string>
		<string>-kvm1</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/tmp/meshagent_kvm1_err.log</string>
	<key>StandardOutPath</key>
	<string>/tmp/meshagent_kvm1.log</string>
	<key>WorkingDirectory</key>
	<string>/opt/tacticalmesh</string>
</dict>
</plist>
